#x1 {
    color: aquamarine;
}
#x2 {
    color: gold;
}
#x3 {
    color: blueviolet;
}
#x4 {
    color: red;
}
#x5 {
    color: lightblue;
}
#x6 {
    color: black;
}
#x7 {
    color: pink;
}
#x8 {
    color: light rgb(177, 176, 176);
}
#x9 {
    color: burlywood;
}
#x10 {
    color: rgb(106, 66, 162);
}
#y1 {
    text-align: justify;
}